* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}

/*utilitie*/

.pointer {
  cursor: pointer;
}

/*container section*/

.container-section {
  min-height: 68vh;
}

/*gifs*/
.gif-content{
  min-height: 180px;
}